fastapi>=0.95
uvicorn[standard]>=0.22
psycopg2-binary>=2.9
sqlalchemy>=1.4
alembic>=1.10
pydantic>=1.10
python-multipart>=0.0.5
passlib[bcrypt]>=1.7
PyJWT>=2.6
python-magic>=0.4
Pillow>=9.0
papermerge-core
uvicorn
papermerge


export VITE_BASE_URL=https://papermerge-core-production.up.railway.app
export VITE_REMOTE_USER=admin
export VITE_REMOTE_USER_ID=49e78737-7c6e-410f-ae27-315b04bdec69
export VITE_REMOTE_GROUPS=admin
export VITE_KEEP_UNUSED_DATA_FOR=1

yarn workspace ui dev